<footer>
    <div class="footer-widget-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="text-3" class="widget widget-box widget_text">
                        <h2 class="widget-title">Contact</h2>
                        <div class="textwidget"><address>
                        CLIR<br>
                        1707 L St. NW,<br>
                        Suite 650 <br>
                        Washington, DC 20036 <p></p>
                        <p>          <abbr title="Phone">P:</abbr>  (202) 939-4750 <br>
                        </p></address>
                        </div>
                        <span class="seperator extralight-border"></span></div>
                </div>

                <div class="col-md-3">
                    <div id="social_media_links-6" class="widget widget-box widget_social_media_links">
                        <h2 class="widget-title">Elsewhere</h2>
                        <ul class="list-unstyled clir-social">
                            <li><a target="_blank" rel="" href="https://www.facebook.com/pages/Council-on-Library-and-Information-Resources-CLIR/300100435096" data-placement="left" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                            <li><a target="_blank" rel="" href="https://twitter.com/clirnews" data-placement="left" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                            <li><a target="_blank" rel="" href="https://www.linkedin.com/company/6203386/" data-placement="left" data-toggle="tooltip" title="" data-original-title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                            <li><a target="_blank" rel="" href="http://www.youtube.com/user/DLFCLIR?blend=2&amp;ob=0" data-placement="left" data-toggle="tooltip" title="" data-original-title="YouTube"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                            <li><a target="_blank" rel="" href="https://www.clir.org/feed" data-placement="left" data-toggle="tooltip" title="" data-original-title="RSS"><i class="fa fa-rss" aria-hidden="true"></i> RSS</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    emma stuff
                </div>

                <div class="col-md-3">
                    <div id="text-2" class="widget widget-box widget_text">
                        <h2 class="widget-title">About CLIR</h2>
                        <div class="textwidget">
                            <p>CLIR is an independent, nonprofit organization that forges strategies to enhance research, teaching, and learning environments in collaboration with libraries, cultural institutions, and communities of higher learning.</p>
                        </div>
                        <span class="seperator extralight-border"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-info-area">
        <div class="container">
            <div class="clearfix"></div>
            <div class="site-info">
                <p class="pull-right">
                    All content on this site is available for re-use under
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>
                </p>
                <p class="logo">
                    <a href="https://www.clir.org/">
                        <i class="icon-clir-logo-square"></i>
                        <span class="clir clir-font">CLIR</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
