@import 'vars'; //social media colors

$gradient_color: rgba(80, 80, 80, 0.85);
// $gradient_color: rgba(119, 17, 0, 0.85);

// CLIR logo fonts
.clir-color { color: $clir-burgundy; }
.clir-font  { font-family: 'A028', serif; }
.logo {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.cover {
  background-image: url("images/background.jpg");
  background-image: -moz-linear-gradient(left, $gradient_color, $gradient_color), url("images/nitle-resize.png");
  background-image: -webkit-linear-gradient(left, $gradient_color, $gradient_color), url("images/nitle-resize.png");
  background-image: linear-gradient(to right, $gradient_color, $gradient_color), url("images/nitle-resize.png");
  background-size: cover;
  background-position: top left, center center;
  background-attachment: fixed;
  z-index: 1;
  height: 100%;
}

.jumbotron {
  margin-top: 8em;
  margin-bottom: 8em;
}
