@import 'vars'; //social media colors

@mixin dark-overlay{
  &:after{
    content: "";
    width: 50%;
    height: auto;
    position: absolute;
    z-index: -1;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
}

body, html {
  height: 100%;
}

// CLIR logo fonts
.clir-color { color: $clir-burgundy; }
.clir-font  { font-family: 'A028', serif; }
.logo {
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.cover {
  background: url('/images/nitle-resize.png') no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
  height: 100%;
  opacity: 0.2;
}

#message {
  z-index: 3;
  opacity: 1.0;
  margin-top: 3em;
  text-shadow: 0 1px 3px rgba(0,0,0,.25);
}
